<%= form_for(@student) do |f| %>
    <label>Name:</label><br>
    <%= f.text_field :first_name %><br>

    <label>Surname:</label><br>
    <%= f.text_field :last_name %><br>

    <%= f.submit "New Post" %>
<% end %>
