<%= form_for(@school_class) do |f| %>
    <label>Name:</label><br>
    <%= f.text_field :title %><br>

    <label>Surname:</label><br>
    <%= f.text_field :room_number %><br>

    <%= f.submit "New Post" %>
<% end %>